<!DOCTYPE html>
<html lang="en">
    <head>
        <title>POST 2810</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <form action="/signin" method="POST">
            <input type="text" placeholder="Email" name="email">
            <br><br>
            <input type="text" placeholder="Password" name="email">
            <br><br>
            <button>Sign In</button>
        </form>
    </body>
</html>
<script src="/reload/reload.js"></script>
